#container {
    height: 600px;
    width: 60%;
    background-color:azure;
    margin:5px auto;
    border: 2px solid black;
    /* Row Form: fix box mein fit ho jati hai jab ham flex ka use karte hai toh*/
    display: flex;

    /* Flexbox Direction*/
    flex-direction: row;

    /* Arrenge on top : agar center mei hota toh bottom se top ki or
    jaygi*/
    justify-content: flex-start;

    /* justify-content:space-evenly; / space-between; */
    /* flex-wrap: wrap; */

    /* go to top direction : agar ham flex-end kar diye toh/
    botum ke direction me jaygi */
    /* align-items: flex-start; */
    align-content: flex-start;
}


h1 {
    text-align: center;
}

#org {
    align-self: flex-start;
    /* flex-basis: 50px; */
    flex-shrink: 2 2 100px;
}

#container div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

#blue {
    /* flex-basis: 400px; */
    /* flex-grow: 1; */
    flex-shrink: 1;
}